@model LMS.Model.BookModel

@{
    ViewBag.Title = "Edit Book";
}

<h2>Edit Book</h2>

@using (Html.BeginForm("Edit", "Books", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Title, "Title", new { @class = "form-label fw-bold" })
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Author, "Author", new { @class = "form-label fw-bold" })
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.ISBN, "ISBN", new { @class = "form-label fw-bold" })
        @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ISBN, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(m => m.PublicationYear, "Publication Year", new { @class = "form-label fw-bold" })
        @Html.TextBoxFor(m => m.PublicationYear, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PublicationYear, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-secondary ms-2" })
}
